In [2]:
from __future__ import print_function

import glob
import math
import os

from IPython import display
from matplotlib import cm
from matplotlib import gridspec
from matplotlib import pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn import metrics
import tensorflow as tf
from tensorflow.python.data import Dataset

tf.logging.set_verbosity(tf.logging.ERROR)
pd.options.display.max_rows = 12
# pd.options.display.float_format = '{:.1f}'.format

mnist_dataframe = pd.read_csv("mnist_train_small.csv",sep=",",header=None)

# Use just the first 10,000 records for training/validation.
mnist_dataframe = mnist_dataframe.head(10000)

mnist_dataframe = mnist_dataframe.reindex(np.random.permutation(mnist_dataframe.index))
mnist_dataframe.head()

,0,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,784
3840,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1723,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9411,8,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2471,6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4685,8,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [3]:
mnist_dataframe.loc[:, 72:72]

      72
3840   0
1723   0
9411   0
2471   0
4685   0
2191   0
...   ..
9163   0
7082   0
2990   0
8992   0
658    0
2854   0

[10000 rows x 1 columns]